/* NavBar */
 .navbar{background-color: #f3565d ;border-top: 3px solid #eee } /*#f3565d*/
 .navbar .navbar-nav > li > a{color:#fff;}
 .navbar-nav > li > a{padding-top:25px; padding-bottom:25px}

.navbar-brand{padding: 0px; text-shadow: 2px 2px #000;}
.navbar-brand img {box-shadow: 2px 2px 5px grey; padding: 5px; margin-right: 25px; background-color: rgb(238, 238, 238); margin-left: 60px; margin-top:-3px}
.dropdown img{width:30px; height:30px; border-radius: 20px;}

label{font-weight:normal}

/* Sidebar Menu */

body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #eee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 270px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 270px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #eee;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #eee;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}


.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus{
	color: #fff;
    text-decoration: none;
    background-color: transparent;
}

}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #eee;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
  left: 15px;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #eee;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #eee;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open{
  left:265px;
  background-color: #FF8787;
}
/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

/*End Sidebar*/

/* Containers */

.square{border:1px solid #ccc; padding:15px; font-size:24px; text-align:left; color: #666}
.square i{float:right; font-size:30px; color:#f3565d;}
.square span{font-size:16px;}
.fc-content span{font-size:12px !important}
.fc-button-group span{font-size:12px}
.square .progress{height:5px; margin-top:30px}

.fc button{font-size:14px !important}

.list-group-item{font-size:14px;}
.list-group i{float:left; font-size:20px; color: #333}


/* Forms page */
.contain_form{border:1px solid #F3565D; padding: 10px 30px; text-align:left; color: #666; background-color:#fff; margin-bottom:40px;}
.contain_form h4{margin-bottom: 30px; padding-bottom: 10px; background-color: #fff; border-radius: 5px; box-shadow: 0 2px 8px 0 #ccc; color: #F3565D; margin-bottom: 30px; margin-top: -30px; padding: 10px; border:2px solid #F3565D}

.contain_form h5{border-bottom: 1px dotted #F3565D;margin: 30px auto ; padding-bottom: 10px; color:#F3565D}
.form-horizontal .control-label{text-align:left}
.btn_cont{padding-right:15px; float:right}
.btn-sol{
    background: none repeat scroll 0 0 #f3565d;
    color: #fff!important;
    font-size: 12px;
    padding: 10px 25px;
    position: relative;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
    border: none;
    border-radius: 0px;
    text-transform: capitalize;
    font-weight: 600;
}

.btn-sol:before {
    border: 1px solid #fff;
    content: "";
    height: 80%;
    left: 3%;
    position: absolute;
    top: 10%;
    width: 94%;
    -webkit-transition:all 0.2s linear; 
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

.btn-sol:hover:before{
    height: 100%;
    width: 100%;
    left:0;
    top: 0;
}

.btn-sol:hover{
    color: #fff;
	background: #f3565d;
}

.btn-sol:focus{
	background: #f3565d;
}
.red_star{
color:#ff0000;}
.first_td{text-align:left; padding-top:15px !important}

/*Calendar*/
#calendar {max-width: 600px !important; margin: 0 auto; font-size:18px; border-radius: 6px; box-shadow: 0 1px 2px #C3C3C3;}
#calendar h2{font-size:18px; margin-top:10px}
.fc-header td{padding:10px 5px 0 !important}
.fc-state-down, .fc-state-active{background-color:#f3565d !important}
.fc-state-disabled{color:#999 !important}
/*end Calendar*/


/*Table Page*/
.pagination > li > a, .pagination > li > span{color:#f3565d}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color:#f3565d; border-color:#bbb}
.dropup .btn{border-radius:20px !important;}

/*End Table*/

/*DataTable*/
.fresh-table{margin-top: 45px; box-shadow: 0 2px 8px 0 #ccc; margin-bottom: 50px;}
.fresh-table.full-screen-table{ margin-top: 0;}
.fresh-table .fixed-table-toolbar{background-color:#f3565d; padding:0px 10px !important; }
.fresh-table .fixed-table-toolbar .pull-right .btn{background-color:transparent; border-color:rgba(255, 255, 255, 0.8); color:rgba(255, 255, 255, 0.8)}
.fresh-table .fixed-table-toolbar .pull-right .btn .caret{ border-top-color:rgba(255, 255, 255, 0.8); color:rgba(255, 255, 255, 0.8)}
.fresh-table .fixed-table-toolbar .pull-right .btn:hover{background-color:transparent; border-color:#fff; color:#fff;}
.fresh-table .fixed-table-toolbar .pull-right .btn .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{background-color:transparent; border-color:#fff; color:#fff;}
.fresh-table .form-control{background-color:transparent; border-color:rgba(255, 255, 255, 0.8); color:rgba(255, 255, 255, 0.8)}
.fresh-table .form-control:hover{background-color:transparent; border-color:#fff; color:#fff;}

.page-content{padding:25px 20px 20px}
.search_input{border-radius: 4px !important; border:1px solid #ccc !important; font-weight:normal !important; height:35px !important;  box-shadow:0 1px 1px #eee inset !important;}

/*DataTableBTN*/
.collect_btn{margin-right: 44px !important; float:right}
.bottom_btn{background-color: #fafafa; border: 1px solid #f3565d; border-radius: 25px; margin-top: 0px !important; color: #f3565d; margin-right:5px; width:25px; height:20px; text-align:center; float:left; cursor:pointer }
a.bottom_btn:hover{ color:#999; border:1px solid #999;  box-shadow: 1px 0 3px 1px #ccc;}


.dataTables_length{display:none !important}
.dataTables_filter{display:none !important}
.dataTables_info{display: none !important}
.dataTables_wrapper .dataTables_paginate {display:none !important}
table.dataTable tbody tr.selected{background-color:#ccc !important}
thead {height:30px !important}
.fresh-table .bootstrap-table .table > thead > tr > th{padding:15px 10px !important}
.fresh-table .fixed-table-container thead th .th-inner{padding: 0px 8px !important}

/*EndDataTable*/

.table-bordered th{background-color:#999; color:#fff}

/*Select2*/
.select2-container .select2-selection--single{height:35px !important; border:1px solid #ccc !important; box-shadow:0 1px 1px #eee inset !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:33px !important; }
.select2-container--default .select2-selection--single .select2-selection__arrow{height:33px !important}
/*EndSelect2*/


/* wizard design */
.group_all{
  margin-bottom : 30px;
}


/* Login Page */



/* End Login Page */